<section id="contact" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col text-center text-uppercase pb-4">
                <h2>Contáctanos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div id="ovelay" class="img_back"></div>
            </div>
            <div class="col-md-6">
                <div class="col text-center pb-4">
                    <h2>Envianos un mensaje</h2>
                </div>

                <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form3Example1" class="form-control" />
                            <label class="form-label" for="form3Example1">Nombres</label>
                        </div>
                        </div>
                        <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control" />
                            <label class="form-label" for="form3Example2">Apellidos</label>
                        </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control" />
                        <label class="form-label" for="form3Example3">Dirección de correo</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="number" id="form3Example4" min="0" pattern="^[0-9]+" minlength="10" maxlength="10" class="form-control" />
                        <label class="form-label" for="form3Example4">Telefono</label>
                    </div>

                    <!-- Textarea -->
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Dinos tus comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                        <label class="form-check-label" for="form2Example33">
                        Subscribir a nuestro catálogo de pasteles
                        </label>
                    </div>

                    <!-- Submit button -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning btn-block mb-4">Enviar mensaje</button>
                    </div>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Siguenos:</p>
                        <button type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-instagram"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>