<nav class="navbar navbar-default navbar-expand-lg navbar-light fixed-top" id="header">
    <div class="container">
        <a href="#" style="color: white;">
            <img src="../../../assets/identity/logo-short.png" alt="logo" width="80" height="80">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#cakelist">Pasteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#na">Opiniones de nuestros clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#schedulesection">Contáctanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-bs-toggle="modal" ><i class="fas fa-shopping-cart"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Iniciar sesion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" #username class="form-control" placeholder="Ingrese su correo electronico" aria-label="Nombre de usuario" aria-describedby="addon-wrapping">
              </div>
            </div>
            <div class="mb-3">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">*</span>
                  <input type="password" #passuser class="form-control" placeholder="Ingrese su contrasena" aria-label="contrasena" aria-describedby="addon-wrapping">
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group flex-nowrap">
                 <a href="#">Crear cuenta</a>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" >Iniciar sesion</button>
        </div>
      </div>
    </div>
  </div>

<!-- Dev Modal -->
<div class="modal fade" id="develop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Hola &nbsp; <i class="far fa-smile-beam"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">Para fines de pruebas practicas en <b>InovaccionVirtual - LaunchX </b></p>
        <p class="text-center"><i class="fa fa-code"></i> Desarrollado por<b> Jonathan Grimaldo 2022</b></p>
        <hr>
        <h6 class="text-center">Mi contacto <i class="far fa-grin-alt"></i></h6>
        <ul>
          <li style="list-style:none;"><i class="fab fa-twitter"></i> <a style=" text-decoration:none;"  target="_blank" href="https://twitter.com/_jonasth">&nbsp; Twitter</a></li>
          <li style="list-style:none;"><i class="fab fa-github"></i> <a  style=" text-decoration:none;" target="_blank" href="https://github.com/JonathanGrimaldo">&nbsp; Github</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>