<section id="reviews" class="mt-4" >
    <div class="container" >
        <div class="row">
            <div class="col text-center text-uppercase pb-4">
                <h2>Opiniones de nuestros clientes</h2>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-md-4" style="border-right: solid 1px; color: #a38364;">
                <div class="text-center pb-4">
                    <img class="pb-2" id="rev_img_card" src="https://images.pexels.com/photos/1589820/pexels-photo-1589820.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div id="rate" class="col-md-12">
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                    </div>

                    <div  class="pb-2">
                        <span class="card-title">"A nuestros familiares les encanto el Special Wedding en nuestra boda, delicioso y atractivo."</span>
                    </div>
                    <p class="author_review">John Doe</p>
                </div>
            </div>
            <div class="col-md-4" style="border-right: solid 1px; color: #a38364;">
                <div class="text-center pb-4">
                    <img class="pb-2" id="rev_img_card" src="https://images.pexels.com/photos/5103418/pexels-photo-5103418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div id="rate" class="col-md-12">
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                    </div>

                    <div  class="pb-2">
                        <span class="card-title">"A mi hija la a gustado muchisimo el pastel de Chocolate Hersheys, gracias Sam! tus pasteles son deliciosos!"</span>
                    </div>
                    <p class="author_review">Sofi Wong</p>
                </div>
            </div>
            <div class="col-md-4" style="border-right: solid 1px; color: #a38364;">
                <div class="text-center pb-4">
                    <img class="pb-2" id="rev_img_card" src="https://images.pexels.com/photos/2705089/pexels-photo-2705089.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div id="rate" class="col-md-12">
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                    </div>

                    <div  class="pb-2">
                        <span class="card-title">"Sam gracias, a mi novia le encanto el pastel personalizado de BTS. pense que no lo harias pero quedo delicioso y muy padre."</span>
                    </div>
                    <p class="author_review">Mati Rodriguez</p>
                </div>
                
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-md-4" style="border-right: solid 1px; color: #a38364;">
                <div class="text-center pb-4">
                    <img class="pb-2" id="rev_img_card" src="https://images.pexels.com/photos/1542085/pexels-photo-1542085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div id="rate" class="col-md-12">
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                    </div>

                    <div  class="pb-2">
                        <span class="card-title">"Recomiendo los pasteles Sam"</span>
                    </div>
                    <p class="author_review">Adrienn</p>
                </div>
            </div>
            <div class="col-md-4" style="border-right: solid 1px; color: #a38364;">
                <div class="text-center pb-4">
                    <img class="pb-2" id="rev_img_card" src="https://images.pexels.com/photos/428361/pexels-photo-428361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div id="rate" class="col-md-12">
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                    </div>

                    <div  class="pb-2">
                        <span class="card-title">"Excelente atención y servicio"</span>
                    </div>
                    <p class="author_review">Spencer Selover</p>
                </div>
            </div>
            <div class="col-md-4" style="border-right: solid 1px; color: #a38364;">
                <div class="text-center pb-4">
                    <img class="pb-2" id="rev_img_card" src="https://images.pexels.com/photos/3785079/pexels-photo-3785079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div id="rate" class="col-md-12">
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                        <i class="fas fa-star rate_star"></i>
                    </div>

                    <div  class="pb-2">
                        <span class="card-title">"Recomiendo la pasteleria Sam, sus pasteles son deliciosos, su atencion es excelente y sus entregas son siempre en la fecha pactada."</span>
                    </div>
                    <p class="author_review">Andre Pia</p>
                </div>
                
            </div>
        </div>
    </div>
    
</section>