#reviews{
    padding-top: 6rem;
}
.card-title{
    color: #a38364;
}
h2{
    color: #59371C;
    font-size:xx-large;
    font-family: 'Oleo Script', cursive;
}
.author_review{
    color: #59371C;
    font-size:x-large;
    font-family: 'Oleo Script', cursive;
}
.card .ribbon {
    width: 100px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    color: #59371C;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
    background: #EBDACC;
    position: absolute;
    padding-top: 7px; 
  }
  .card .ribbon:hover{
    background-color: #eecbaf;
  }

  #rev_img_card{
      border-radius: 50%;
      height: 120px;
      width: 120px;
      object-fit: cover;
  }

  .rate_star{
      color: #FFD43B;
  }