<section id="cakelist" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col text-center text-uppercase pb-4">
                <h2>Selección de pasteles</h2>
                <small class="card-title">Mostrando 9 resultados</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/291528/pexels-photo-291528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Chocolate MilkyWay c/ Mermelada </h5>
                        <small class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga.
                        </small>
                        <br>
                        <div class="text-end">
                            <div class="ribbon">$199.99</div>
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 col">
                                <h5 class="card-title">Chocolate Hersheys </h5>
                            </div>
                            <div class="col-md-4 col text-end">
                                <span class="badge rounded-pill bg-secondary">Agotado</span>
                            </div>
                        </div>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <div class="ribbon">$189.99</div>
                            <button href="#" disabled class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/1126359/pexels-photo-1126359.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Moras con Fresa </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <div class="ribbon">$19.99</div>
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/913136/pexels-photo-913136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Cupcake de vainilla </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <div class="ribbon">$69.99</div>
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/853004/pexels-photo-853004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Cupcake de fresa </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <div class="ribbon">$59.99</div>
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/1702373/pexels-photo-1702373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col">
                                <h5 class="card-title">Special Wedding </h5>
                            </div>
                            <div class="col-md-6 col text-end">
                                <span class="badge rounded-pill bg-danger">30% Oferta</span>
                            </div>
                        </div>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <div class="ribbon"><small style="text-decoration:line-through;">$400.00</small>&nbsp;$280.00</div>
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/2531546/pexels-photo-2531546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Paquete rosa </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <div class="ribbon">$159.99</div>
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/2510104/pexels-photo-2510104.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Vintage friends </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <div class="ribbon">$89.99</div>
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/19640/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 col">
                                <h5 class="card-title">Personalizado </h5>
                            </div>
                            <div class="col-md-4 col text-end">
                                <span class="badge rounded-pill bg-info">Tu agregas el sabor</span>
                            </div>
                        </div>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <div class="ribbon">Acordar</div>
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Solicitar pedido</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
