<section id="cakelist" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col text-center text-uppercase pb-4">
                <h2>Selección de pasteles</h2>
                <small class="card-title">Mostrando 9 resultados</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/291528/pexels-photo-291528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Chocolate MilkyWay c/ Mermelada </h5>
                        <small class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga.
                        </small>
                        <br>
                        <div class="text-end">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Chocolate Hersheys </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/1126359/pexels-photo-1126359.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Moras con Fresa </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/913136/pexels-photo-913136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Cupcake de vainilla </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/853004/pexels-photo-853004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Cupcake de fresa </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/1702373/pexels-photo-1702373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Special Wedding </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/2531546/pexels-photo-2531546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Paquete rosa </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/2510104/pexels-photo-2510104.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Vintage friends </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn custom_img" src="https://images.pexels.com/photos/19640/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Personalizado </h5>
                        <small class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </small>
                         <br>
                        <div class="text-end">
                            <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i> Ordenar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
