<footer id="footer" class="pb-4 pt-4">
    <div class="container">
        <div class="row text-center">
            <div class="col col-lg">
                <a class="custom_ancore" href="#cakelist">Pasteles</a>
            </div>
            <div class="col col-lg">
                <a class="custom_ancore" href="#">Contáctanos</a>
            </div>
            <div class="col col-lg">
                <a class="custom_ancore" href="#">Preguntas frecuentes</a>
            </div>
            <div class="col col-lg">
                <a class="custom_ancore" href="#">Términos y condiciones</a>
            </div>
            <div class="col col-lg">
                <a class="custom_ancore" href="#">Aviso de privacidad</a>
            </div>
            <div class="col col-lg">
                <a class="custom_ancore" href="#" data-bs-toggle="modal" data-bs-target="#develop">Desarrollo</a>
            </div>
        </div>
    </div>
</footer>   